











.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(	0, 185, 205)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler  {
  border-color: transparent;
}
.navbar-toggler {
  color: rgb(0, 185, 205);
}
.navbar::after {
  position: absolute;
  z-index: 1;
  right: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
}


.navbar-brand img {
  display: block;
  position: absolute;
  top: 10px;
  left: 3%;

  }
  P{
    position: absolute;
    left: 12%;
    top: 35%;
    color: aqua;
  }

.navbar{
height:12%;
}
.offcanvas{
width: 80%;
}
